*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  #222;

}

.wrapper{
    max-width: 460px;
    width: 90%;
   margin: 100px auto 0;
   background-image:  linear-gradient(204deg, rgba(143, 243, 33, 1) 9%, rgba(49, 220, 255, 1) 50%, rgba(76, 175, 80, 1) 80%, rgba(76, 175, 80, 1) 93%);
   border-radius: 2rem;
   color: #fff;
   padding:40px 35px;
   text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{ 
    flex: 1;
    height:50px;
    border: 0;
    outline: 0;
    border-radius: 1.4em;
    padding: 10px 25px;
    font-size: medium;
    margin-right: 2rem;
}

.search button{
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0 ;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    width: 1.3em;
    align-self: center;
}

.error{
    text-align: left;
    margin-left: 1em;
    font-size: 20px;
    padding-top: 1rem;
    display: none;
}


.weather-image{
    width: 150px;
    margin-top: 30px;
}



.weather h1{
    font-size: 50px;
    font-weight: 700;
}

.weather h2{
    font-size: 40px;
    font-weight: 900;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding: 0 20px;
}

.columns{
    display: flex;
    align-items: center;
    align-tracks: left;
}

.columns img{
    width: 60px;
    padding-right: 10px;
}


.humidity, .wind{
    font-size: 30px;
    margin-bottom: 6px;
}

.weather{
    display: none;
}